---
import fs from "fs";
import path from "path";
import Layout from "../layouts/Layout.astro";
import BannerText from "../components/sections/BannerText.astro";

const dirPath = path.resolve("public/events");
const dirPathNoti = path.resolve("public/notifications");

const imageFiles = fs.readdirSync(dirPath).filter((file) => file.match(/\.(png|jpe?g|gif|webp|svg)$/));
const imageFilesNoti = fs.readdirSync(dirPathNoti).filter((file) => file.match(/\.(png|jpe?g|gif|webp|svg)$/));

const imagePaths = imageFiles.map((file) => `/events/${file}`);
const imagePathsNoti = imageFilesNoti.map((file) => `/notifications/${file}`);
---

<Layout title="Anuncios | Urban Village">
    <BannerText title="Eventos" />

    <div class="grid grid-cols-3 mx-auto px-10 py-16 gap-16 justify-self-center">
        {imagePaths.map(img => (
            <img src={img} alt="imagenes" />
        ))}
    </div>

    <div class="grid grid-cols-3 mx-auto px-10 py-16 gap-16 justify-self-center">
        {imagePathsNoti.map(img => (
            <img src={img} alt="imagenes" />
        ))}
    </div>
</Layout>
