---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Ubicación | Urban Village">
    <section class="relative w-full h-screen flex flex-col items-center justify-center">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14387.39817310189!2d-100.2959249!3d25.6431186!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8662bfa2a04cf255%3A0x62521eefd919c5c2!2sUrban%20Village%20Garza%20Sada!5e0!3m2!1ses-419!2smx!4v1762813170537!5m2!1ses-419!2smx"
            class="w-full h-screen border-0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade" 
        />
    </section>
</Layout>
