---
import Button from "./ui/Button.astro";

const { images } = Astro.props;
---

<div class="py-16 space-y-16">
    <div class="embla">
        <div class="embla__container">
            {images.map(( src, i ) => (
                <img src={src} alt={`slide ${i + 1}`} class="w-100" />
            ))}
        </div>

        <img src="/assets/wave_2.png" class="w-140 absolute left-0 -translate-y-1/2 -z-10"/>
    </div>

    <div class="grid justify-self-center ">
        <Button 
            label="Ver eventos"
        />
    </div>
</div>

<style>
    .embla {
        padding: 0 3rem;
        overflow: hidden;
        width: 100%;
    }

    .embla__container {
        display: flex;
        gap: 28px;
        justify-content: start;
    }


</style>

<script src="https://unpkg.com/embla-carousel/embla-carousel.umd.js"></script>
<script is:inline>
    document.addEventListener("DOMContentLoaded", () => {
        const emblaNode = document.querySelector(".embla");
        if (!emblaNode) return;
        const emblaApi = EmblaCarousel(emblaNode, { loop: true, dragFree: true, align: 'start' });
        console.log("Embla iniciado:", emblaApi.slideNodes());
    });
</script>
