---
const { label } = Astro.props;
---
<button class="outline-none cursor-pointer border-none px-7 py-3 relative inline-block tracking-tighter rounded-full overflow-hidden">
    <span class="relative transition-all duration-500 text-xl"> { label } </span>
</button>

<style>
    button {
        background: #e120ff;
        color: white;
    }

    button:hover span {
        color: white;
    }

    button::before,
    button::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
    }

    button::before {
        content: "";
        background: #ae00ff;
        width: 120%;
        left: -10%;
        transform: skew(30deg);
        transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
    }

    button:hover::before {
        transform: translate3d(100%, 0, 0);
    }
</style>
